.ratingQuestion {
  font: 12pt "Comic Sans MS";
  background: linear-gradient(to left, #743ad5, #d53a9d);
  color: white;
  border: 5px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}
