<link
  href="https://fonts.googleapis.com/css?family=Work+Sans:400,500"
  rel="stylesheet"
/>
<link
  href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"
  rel="stylesheet"
/>

<div class="flash-notice"><%= flash[:notice] %></div>

<%= react_component "RatingQuestions", rating_question_props %>
